.wrapper{
    width:840px;
    height:280px;
    border:3px solid red;
}

.box1{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box2{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box3{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box4{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box5{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box6{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box7{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box8{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box9{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.box10{
    width: 150px;
    height:120px;
    border:3px solid red;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
}